PORT=3001
MONGO_URI=mongodb://localhost:27017/feature-flags
JWT_SECRET=change-me-in-production
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
SUPER_ADMIN_EMAIL=super@admin.com
SUPER_ADMIN_PASSWORD=superadmin123
